{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit profile{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="first_name" class="form-label">First name</label>
      <input type="text" class="form-control" name="first_name" id="first_name" value="{{ request.form['first_name'] or profile['first_name'] }}" required>
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Last name</label>
      <input type="text" class="form-control" name="last_name" id="last_name" value="{{ request.form['last_name'] or profile['last_name'] }}" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" value="{{ request.form['email'] or profile['email'] }}" required>
    </div>
    <div class="mb-3">
      <label for="phone_number" class="form-label">Phone number</label>
      <input type="text" class="form-control" name="phone_number" id="phone_number" value="{{ request.form['phone_number'] or profile['phone_number'] }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}