{% extends 'base.html' %}

{% block header %}
  {% if g.user is not none and g.user['is_admin'] == True %}
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('jobs.create') }}">New</a>
    </li>
  </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for job in jobs %}
      <div class="col">
        <div class="card {{ 'text-white bg-secondary' if job['deleted_at'] is not none }} h-100">
          <div class="card-body">
            <h5 class="card-title">{{ job['title'] }}</h5>
            <h6 class="card-subtitle mb-2 {{ 'text-muted' if job['deleted_at'] is none }}">by {{ job['first_name'] + ' ' + job['last_name'] }}</h6>
            <p class="card-text">{{ job['body'] }}</p>
            {% if g.user is not none and job['application_id'] is none %}
              <a href="{{ url_for('jobs.apply', id=job['id']) }}" class="btn btn-secondary">Apply</a>
            {% endif %}
            {% if g.user is not none and job['application_id'] is not none %}
              <a href="{{ url_for('jobs.withdraw', id=job['id']) }}" class="btn btn-success">Withdraw</a>
            {% endif %}
            {% if g.user is not none and g.user['is_admin'] == True and job['deleted_at'] is none %}
              <a href="{{ url_for('jobs.update', id=job['id']) }}" class="btn btn-primary">Edit</a>
              <a href="{{ url_for('jobs.delete', id=job['id']) }}" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
          {% if job['deleted_at'] is none %}
          <div class="card-footer {{ 'text-muted' if job['deleted_at'] is none }}">
            {{ time_ago(job['created_at']) }}
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}